<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { title }) %>
<body>
    <%- include('./partials/navbar') %>
    <section>
        <% messages.forEach(msg => { %>
            <%- include('./partials/message', { msg }) %>
        <% }) %>
    </section>
</body>
</html>